body {
    background-color: #131313;
    border: 0px;
    padding: 0;
    margin: 0;
    font-family: "Programme", Arial, sans-serif;
    color: #dadada;
}

.body_settings {
	height: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.img {
    position: relative;
    height: 250px;
    width: 250px;
    margin-left: auto;
    margin-right: 0;
}
.img250px {
    display:flex;
}
.music_panel_area {
    margin-left: 400px;
    margin-right: 400px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 23px;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease, .5s .2s cubic-bezier(.77,0,.18,1);;
}

.music_panel_area.hidden {
    bottom: -30px;
    opacity: 0;
    pointer-events: none;
}

.music_panel_area:hover .music_panel {
    transform: scale(1.1);
}
.music_panel {
    pointer-events: all;
    margin: auto;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    width: 1055px;
    background-color: #1E1E1E;
    height: 109px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.7);
    transition: .5s .1s cubic-bezier(.77,0,.18,1);
}
.music_panel_hidden {
    z-index: 1;
    justify-content: flex-end;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 23px;
    pointer-events: all;
    align-items: center;
    background-color: #1E1E1E;
    opacity:0;
    width: 50%;
    height: 50px;
    border-radius: 8px;
    transition:opacity .05s .1s ease, .5s .1s cubic-bezier(.77,0,.18,1);
}

.music_panel_hidden.open {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
    background-color: #b8b8b8;
    height: 8px;
    width: 15%;
    opacity: 1;
    pointer-events: none;
}

.track_panel_buttons {
    display: flex;
    flex-direction: row;
    transform: translateX(70px);
    gap: 0.5em;
    margin-left: -2.5em;
}

.volume_panel {
    margin-left: 1.5em;
    transform: scale(1.2);
}

#play {
    transform: scale(2);
}

#next_track {
    transform: scale(1.5);
}

#prev_track {
    transform: scale(1.5);
}

.svg_icons_panel {
    display: flex;
    justify-content: flex-end;
    padding-right: 90px;
    gap: 35px;
    margin-left: -4em;

}


.panel {
    margin: auto;
    display: flex;
    background: linear-gradient(to right, #363636, #121212);
    height: 250px;
    width: 1030px;
    align-items: center;
}

.play_button {
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 50px;
    transition: background-color 0.3s; 
}

.play_icon {
    cursor: pointer; /* Если требуется сделать курсор "в руку" */
    width: 120%;
    height: 120%;
}

.play_button svg {
    transition: transform 0.1s; /* Анимация при наведении */
}

.play_button:hover svg {
    transform: scale(1.05); /* Увеличение при наведении */
}
.text_panel {
    margin:auto;
    color: #f0f0f0;
    position: relative;
    margin-left: auto;
    margin-top: 4em;
    margin-right: 5em;
}
.lyric_panel {
    position: relative;
    margin:auto;
}
.lyric {
    color: #dadada;
    padding: 20px;
    background-color: #1E1E1E;
    font: 100 1.125rem / 1.5 "Programme", Arial, sans-serif;
}
.actors {
    position: relative;
    display: flex;
    background-color: #1E1E1E;
    height: 210px;
    width: 455px;
}
.stroke {
    width: 910px;
    display: flex;
    margin:auto;
}
.actors_img {
    right: 9%;
    position: relative;
    justify-self: right;
    top: 20%;
    height: 126px;
    width: 126px;
    border-radius: 50%;
}
.actors_name {
    display: flex;
    position: relative;
    margin:auto;
    left:3em;
    height: fit-content;
}
.actorsimg {
    margin-left: auto;
    margin-right: 0;
    display: flex;
}
h1 {
    background-color: black;
    padding: 6px 10px;
}
.music_info_panel {
    display: flex;
    margin-left: auto;
    margin-right: 2em;
    margin-top:auto;
    margin-bottom:auto;
}
.img_music_panel {
    width: 74px;
    height: 74px;
    border-radius: 15px;
}
.imgmusicpanel {
    display: flex;
    margin:auto;
    margin-right:1em;
}
.text_music_panel {
    margin-top: auto;
}
.text_panel_music {
    font: 100 1.125rem / 1.5 "Programme", Arial, sans-serif;
}
.svg_icons {
    position: relative;
    display: flex;
}
.svg_panel {
    width: 80px; 
    height: 80px;
}
.svg_music_panel {
    width: 40px; 
    height: 40px;
}
.svg_icons_panel {
    transform: translateX(70px);
    position: relative;
    pointer-events: all;
}
.text_panel_button {
    background-color: rgb(0, 0, 0);
    border: none;
    width: 100px;
    height: 70px;
    border-radius: 15px;
    margin-right: 10px;
    transition: transform 0.3s;
}

.text_panel_button:hover {
    transform: scale(1.1); /* Увеличение при наведении */
}


.svg_text_panel_button {
    cursor: pointer;
    transition: all .2s ease;
    fill: #dadada;
    stroke: #ffffff;
}
.svg_text_panel_button:hover {
    transform: scale(1.2);
    fill:#ffffff
}

#like.active {
    opacity: 0.9;
    fill: red;
    stroke:red;
}
#like.active:hover {
    opacity: 1;
}

#next_up.active {
    opacity: 0.9;
    fill: red;
    stroke:red;
}
#next_up.active:hover {
    opacity: 1;
}

#add_playlist.active {
    opacity: 0.9;
    fill: red;
    stroke:red;
}
#add_playlist.active:hover {
    opacity: 1;
}

.svg_icons_panel_svg {
    cursor: pointer;
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    fill: #dadada;
    stroke: #ffffff;
    stroke-opacity: 0;
    display: inline-block;
    transition: box-shadow 0.3s ease; /* Убираем transform из основного элемента */
}

.svg_icons_panel_svg {
    cursor: pointer;
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    fill: #dadada;
    stroke: #ffffff;
    stroke-opacity: 0;
    display: inline-block;
    transition: all .2s ease;
}

.svg_icons_panel_button {
    transition: all .2s ease;
}

.svg_icons_panel_svg:hover {
    transform: scale(1.1);
    fill: #ffffff; /* Цвет заливки */
    stroke-opacity: 0.8;
    stroke-width: 10; /* Толщина обводки */
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5)) drop-shadow(0 0 5px rgba(255, 255, 255, 0.3)); /* Уменьшение яркости свечения(0.3) */
}
.footer {
    width: 100%;
    height:10em;
}
.soundtrack {
    pointer-events: all;
    transform: translateX(70px);
    padding-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    margin-left: 2em;
    width: 35%;
    height:70%
}
.soundtrack_button {
    left: -7px;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    width: 12px;
    background-color: #757575;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); /* Изменено */
    transition: all 0.2s ease;
}

/* Эффекты при наведении */
.soundtrack:hover .soundtrack_button {
    background-color: #dadada; /* Цвет кнопки при наведении */
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.8); /* Универсальная тень */
    transform: scale(1.05); /* Небольшое увеличение при наведении */
}
.soundtrack_progressbar {
    min-width:1px;
    height: 100%;
    background: linear-gradient(to right, #1E1E1E, #5F5F5F);
}